/*** GLOBAL ***/
/**************/
body {
  font: 18px/1.6 Avenir, "Open Sans", Helvetica, sans-serif;
  background: #fff;
  color: #555;
  width: 90%;
  max-width: 720px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

::-moz-selection {
  background: #c80909;
  color: #fff;
}

::selection {
  background: #c80909;
  color: #fff;
}

/* animations */
a, a:visited, footer {
  -moz-transition: color .5s;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
}

a, a:visited, footer:hover a, footer:hover a:visited {
  color: #c80909;
  text-decoration: none;
}

a:hover, a:visited:hover, footer a:hover, footer a:visited:hover {
  color: #666;
  cursor: pointer;
  text-decoration: underline;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  display: inline;
  visibility: visible;
}

/*** TYPOGRAPHY ***/
/******************/

h1 {
  font-size: 2.8em;
  line-height: .6em;
  color: #555;
  font-weight: 100;
  margin: 0;
}

h2, h3 {
  font-size: 1.1em;
  font-weight: 100;
  line-height: 1.5;
  padding: .7em 0 0;
  color: #666;
}

p {
  margin-bottom: .7em;
}

h3 {
  color: #666;
  font-weight: 600;
}

.subheading {
  font-weight: 500;
}

ul, ol {
  padding: 0;
  margin-bottom: .7em;
  list-style-type: circle;
}

ul li, ol li {
  margin-left: 1.15em;
  padding-left: .5em;
}

strong {
  font-weight: 500;
}

/*** HEADER ***/
/**************/

/* aligns navigation with text */
#top nav {
  text-align: right;
  overflow: hidden;
}

#top a {
  color: #ccc;
  display: inline-block;
  padding: 1.6em .8em;
  margin: 0 -.2em;
  position: relative;
}

#top a:hover {
  color: #c80909;
  text-decoration: none;
}

#top a.active {
  color: #666;
  cursor: default;
}

/*** CONTENT ***/
/**************/

.columns span {
  font-size: .785em;
  color: #ccc;
  font-weight: 600;
}

/*** FOOTER ***/
/**************/

footer {
  color: #aaa;
  padding: 1% 0;
  font-size: .875em;
  line-height: 1.6;
  opacity: .5;
  -moz-transition: opacity .3s;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

footer:hover {
  opacity: 1;
}

footer a, footer a:visited {
  color: #555;
}

#print {
  color: #333;
  display: none;
}



/*** ABOVE 768px ***/
/*******************/

@media screen and (min-width: 768px){
  body {
    font-size: 22px;
  }

  h1 {
    font-size: 5.2em;
    letter-spacing: -.02em;
    margin: .3em 0 -.1em;
  }

  h2, h3 {
    font-size: 1.6em;
    margin-bottom: .7em;
    letter-spacing: -.02em;
  }

  p, ul, ol {
    margin-bottom: 1.1em;
  }

  .columns {
    display:inline-block;
    padding-left: 14%;
    margin: 0;
    width: 86%;
    position: relative;
  }

  .columns + .columns {
    margin-top: 1.1em;
  }

  .columns span {
    font-size: .7em;
    width: 83px;
    text-align: right;
    letter-spacing: -.02em;
    position: absolute;
    top: .39em;
    left: -.15em;
  }
}


/*** ABOVE 1024px ***/
/*******************/

@media screen and (min-width: 1024px){
  h2, h3 {
    font-size: 1.25em;
    line-height: 1.5;
  }

  #top a {
    padding: 2.4em .8em;
  }

  .columns {
    padding-left: 13%;
  }
}