/*** GLOBAL ***/
/**************/
@font-face {
  font-family: 'signpainter';
  src: url('./fonts/signpainter.eot');
  src: url('./fonts/signpainter.eot?#iefix') format('embedded-opentype'),
        url('./fonts/signpainter.woff') format('woff'),
        url('./fonts/signpainter.ttf') format('truetype'),
        url('./fonts/signpainter.svg#signpainter') format('svg');
  font-weight: normal;
  font-style: normal;
}

img, embed, object, video {
  max-width: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #555;
  margin: 0;
}

::-moz-selection {
  background: #555;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #555;
  color: #fff;
  text-shadow: none;
}

/* smooth animations */
a, a:visited, img, input, footer {
  -moz-transition: color .3s, background .3s, opacity .3s, border .3s;
  -webkit-transition: color .3s, background .3s, opacity .3s, border .3s;
  -o-transition: color .3s, background .3s, opacity .3s, border .3s;
  transition: color .3s, background .3s, opacity .3s, border .3s;
}

a, a:visited, footer:hover a, footer:hover a:visited {
  color: #3399cc;
  text-decoration: none;
}

a:hover, a:visited:hover, footer a:hover, footer a:visited:hover {
  color: #555;
  cursor: pointer;
  text-decoration: underline;
}

/* on hover, zoom thumb image */
a.img:hover img {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
}

/* smooth animations */
a.img img {
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

/* contain the zoomed thumb inside a element */
a.img, a.img:hover {
  text-decoration: none;
  overflow: hidden;
  display: inline-block;
}

.button a {
  background: #3399cc;
  text-align: center;
  color: #fff;
  padding: 0.7em;
  display: block;
}

.button a:hover {
  color: #3399cc;
  text-decoration: none;
  background: #eee;
}

/*** TYPOGRAPHY ***/
/******************/

h1, h2.heading {
  font-size: 2em;
  line-height: 1.2;
  font-weight: 300;
}

h2, h3 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6;
  padding-top: 0.4em;
  margin-bottom: -0.1em;
}

p+p {
  padding-top: 0.8em 0;
}

ul, ol {
  padding: 0.4em 0;
  list-style-type: circle;
}

ul li, ol li {
  margin-left: 1.2em;
  padding-left: 0.5em;
}

/*** HOME SLIDES ***/
/*******************/

/* the div that has the slides */
#home-slides {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 2.4em;
  line-height: 1;
}

/* if not mobile (default) but desktop (small width) wraps the background image around */
.not-mobile div {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

/* styles the slider divs */
#home-slides div {
  height: 500px;
  position: relative;
  width: 100%;
}

/* positions the text around the div */
#home-slides p {
  position: absolute;
  top: 38%;
  left: 0%;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 11px rgba(255,255,255,0.6);
  color: #fff;
}

/* different font and colour for spans */
#home-slides span {
  font-size: 1.4em;
  font-family: 'signpainter', Helvetica, sans-serif;
  color: #e42186;
  text-shadow: 0 0 11px rgba(228,153,206,0.6);
}

#home-slides div:nth-of-type(1) {
  background: url("../images/alex-bg.jpg") 50% 0 no-repeat fixed;
}

/* changes colour of 1st link because of blue bg */
#home-slides div:nth-of-type(1) a {
  color: #e42186;
}

#home-slides div:nth-of-type(2) {
  background: url("../images/bud-bg.jpg") 50% 0 no-repeat fixed;
}

#home-slides div:nth-of-type(3) {
  background: url("../images/par-bg.jpg") 50% 0 no-repeat fixed;
}

/* changes colour of text because of light bg */
#home-slides div:nth-of-type(3) p {
  color: #111;
}

/*** CONTENT ***/
/**************/

#content {
  width: 95%;
  max-width: 650px;
  margin: 2.4em auto;
}

section.designs {
  position: relative;
  margin-top: 1.6em;
  text-align: center;
}

/* change slider arrows */
.designs button.previous, .designs button.next {
  display: block;
  position: absolute;
  top: 25%;
  left: -5%;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 15%;
  padding: 5%;
}

/* slider arrow next */
.designs button.next {
  left: auto;
  right: 0;
  width: 15%;
}

/* adds icons for arrows */
.designs button.previous:before, .designs button.next:before {
  content: '<';
  font-size: 4.5em;
  color: #ccc ;
}

.designs button.next:before {
  content: '>';
}

/* different colour on hover */
.designs button.previous:hover:before, .designs button.next:hover:before {
  color: #666;
}

.above_footer {
  padding-top: 2em;
  text-align: center;
}

.above_footer h4 {
  font-size: 4em;
  margin: 0 0 -0.3em;
}

.above_footer h5 {
  font-size: 1.2em;
  margin: 0;
}

/*** FOOTER ***/
/**************/

footer {
  padding: 1.6em 0 0;
  font-size: 0.875em;
  opacity: 0.3;
  text-align: center;
}

footer:hover {
  opacity: 1;
}

footer a, footer a:visited {
  color: #555;
}

#print {
  color: #333;
  display: none;
}



/*** ABOVE 768px ***/
/*******************/

@media screen and (min-width: 768px){
  body {
    font-size: 20px;
  }

  h1, h2.heading {
    font-size: 3em;
    font-weight: 100;
  }

  h2, h3 {
    font-size: 1.6em;
  }

  /*** HOME SLIDES ***/
  /*******************/

  /* the div that has the slides */
  #home-slides {
    font-weight: 100;
    font-size: 3.8em;
  }

  /* positions the text around the div */
  #home-slides p {
    text-align: left;
    left: 10%;
    width: 70%;
  }

  .designs button.previous, .designs button.next {
    left: -15%;
  }

  /* slider arrow next */
  .designs button.next {
    left: auto;
    right: -14.5%;
  }

  /*** FOOTER ***/
  /**************/

  footer {
    padding-top: 3.2em;
  }
}


/*** ABOVE 1024px ***/
/*******************/

@media screen and (min-width: 1024px){
  /*** HOME SLIDES ***/
  /*******************/

  /* the div that has the slides */
  #home-slides {
    font-size: 4em;
  }

  #home-slides p {
    width: 55%;
  }

  #home-slides div:nth-of-type(1) {
    background: url("../images/alex-bg@2x.jpg") 50% 0 no-repeat fixed;
  }

  #home-slides div:nth-of-type(2) {
    background: url("../images/bud-bg@2x.jpg") 50% 0 no-repeat fixed;
  }

  #home-slides div:nth-of-type(3) {
    background: url("../images/par-bg@2x.jpg") 50% 0 no-repeat fixed;
  }

  .designs {
    width: 1000px;
    margin-left: -27%;
  }

  .designs button.previous, .designs button.next {
    top: 35%;
  }

  /*** FOOTER ***/
  /**************/

  footer {
    padding-bottom: 0;
  }
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}